{% extends "MwebAdminBundle::layout.html.twig" %}

{% block pageH1 %}
    {% set lg = lang|trans({}, "mweb") %}
    {{ 'admin.edit.title'|trans({'%lang%' : lg}, "mweb") }}
{% endblock %}
{% block admin_container %}



    {% set fieldToExclude = ['status', 'metaDesc', 'goTo', 'position', 'devAlias', 'oldUrl'] %}


    <form action="" method="post" enctype="multipart/form-data">

        {% form_theme form 'MwebAdminBundle:Form:main-form-layout.html.twig' %}
        <fieldset class="mweb-fieldset">
            <legend class="col-xs-12">
                <span class="glyphicon glyphicon-bookmark pink"></span>{{ "admin.edit.mainLegend"|trans({}, "mweb") }}

            </legend>
            <div class="content col-xs-12">
                {% for key,field in form %}
                    {% if field.vars['attr']['data-role'] is defined and field.vars['attr']['data-role'] == "mw-superadmin" and is_granted('ROLE_SUPER_ADMIN') == false %}
                        <div style="display: none">
                    {% endif %}
                    {% if  key not in fieldToExclude %}
                        {{ form_errors(field) }}
                        {{ form_row(field) }}
                    {% endif %}
                    {% if field.vars['attr']['data-role'] is defined and field.vars['attr']['data-role'] == "mw-superadmin" and is_granted('ROLE_SUPER_ADMIN') == false %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        </fieldset>

        <fieldset class="mweb-fieldset">
            <legend class="col-xs-12"><span
                        class="glyphicon glyphicon-signal pink"></span>{{ "admin.edit.metaLegend"|trans({}, "mweb") }}
            </legend>

            <div class="content col-xs-12">

                {{ form_errors(form.status) }}
                {{ form_row(form.status) }}
                {% if form.position is defined %}
                    {{ form_errors(form.position) }}
                    {{ form_row(form.position) }}
                {% endif %}
                {% if form.showInMenu is defined %}
                    {{ form_errors(form.showInMenu) }}
                    {{ form_row(form.showInMenu) }}
                {% endif %}
                {% if form.devAlias is defined %}
                    {% if is_granted('ROLE_SUPER_ADMIN') == false %}
                        <div style="display: none">
                    {% endif %}
                    {{ form_errors(form.devAlias) }}
                    {{ form_row(form.devAlias) }}
                    {% if is_granted('ROLE_SUPER_ADMIN') == false %}
                        </div>
                    {% endif %}
                {% endif %}
                {% if form.oldUrl is defined %}
                    {{ form_row(form.oldUrl) }}
                {% endif %}
                {% if form.metaDesc is defined %}
                    {{ form_errors(form.metaDesc) }}
                    {{ form_row(form.metaDesc) }}
                {% endif %}
            </div>

        </fieldset>

        <fieldset class="mweb-fieldset" id="mweb-goto-fieldset">
            <legend class="col-xs-12"><span
                        class="glyphicon glyphicon-record pink"></span>{{ "admin.edit.saveLegend"|trans({}, "mweb") }}
            </legend>

            <div class="col-xs-12 col-sm-9 col-md-10" id="mweb-goto-field">
                {{ form_widget(form.goTo) }}
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <button type="submit" class="button big mweb-edit-save"> {{ "admin.edit.save"|trans({}, "mweb") }}</button>
            </div>
            <div class="clear"></div>
        </fieldset>
        <div class="clear"></div>
    </form>
{% endblock %}


{% block modal %}
    <div class="modal mw-modal fade" id="modal-filemanager" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <iframe id="gallery-iframe" width="100%" height="100%"></iframe>
            </div>
        </div>
    </div>

{% endblock %}