{% extends "MwebAdminBundle::layout.html.twig" %}
{% trans_default_domain 'mweb' %}


{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            orderBy = [];
            if($('#orderFromHere').length>0){
                order = 'asc';
                if($('#orderFromHere').data('name') =='created' || $('#orderFromHere').data('name') =='updated')order = 'desc';
                orderBy = [$('.mw-table th').index($('#orderFromHere')), order];
            }
            var mwTable = $('#table_list_entity').dataTable({
                "language": {
                    "url": "{{ asset("bundles/mwebadmin/js/locales/fr_Fr.json") }}"
                },
                "columnDefs": [{#                    {"searchable": false, "targets": [6, 7, 8, 9]}#}
                ],
                'order': orderBy
            });

        });
    </script>
{% endblock %}

{% block pageH1 %}Liste des {{ entityParams.beautyName }}{% endblock %}

{% block admin_container %}
    <div class="list-head-button">
        <a class="button right " href="{{ path('mweb_admin_edit_entity', {'_locale': 'fr',"entityAlias" :entityAlias, 'id':'new'}) }}">Ajouter {{ entityParams.beautyName }}</a>

        {% if entityParams.orderBy == 'position' %}<a class="button right" href="{{ path('mweb_admin_edit_position_entity', {"entityAlias" :entityAlias}) }}">Gèrer l'ordre des {{ entityParams.beautyName }}</a>{% endif %}

    </div>

    {#    <a href="{{path('le_admin_entity_edit',{entity: entityName is defined ? entityName : app.request.get('_route_params').entity}) }}" class="btn btn-default">Créer</a>#}
    <div class="col-xs-12">
        {#<button class="edit-entity btn btn-default" type="link"#}
        {#data-url="{{ path('mweb_admin_edit_entity', {'_locale': 'fr',"entityAlias" :entityAlias, 'id':'new'}) }}">Créer#}
        {#</button>#}
        {% if entities is not empty %}
            <table id="table_list_entity" class="mw-table table-bordered tableau_liste display">
                <thead>
                <tr>
                    <th>ID <span class="glyphicon glyphicon-menu-down"></span></th>

                    {% for params in entityParams.listProperties %}
                        <th data-name="{{ params.dataName }}" id="{{ params.dataName == entityParams.orderBy ? 'orderFromHere' :'' }}">{{ params.beautyName }} <span class="glyphicon glyphicon-menu-down"></span></th>
                    {% endfor %}
                    <th class="mw-table-action-col">{{ 'admin.edit.actions'|trans }}</th>


                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        {% for params in entityParams.listProperties %}
                            <td>
                                {% if params.type == "datetime" %}
                                    {{ attribute(entity,params.dataName)|date('Y-m-d H:i:s') }}
                                {% elseif params.type == "date" %}
                                    {{ attribute(entity,params.dataName)|date('d/m/Y') }}
                                {% elseif params.type == "time" %}
                                    {{ attribute(entity,params.dataName)|date('H:i') }}
                                {% elseif params.type == "string" %}
                                    {{ attribute(entity,params.dataName) }}
                                {% elseif params.type == "money" %}
                                    {{ attribute(entity,params.dataName) }}€
                                {% elseif params.type == "boolean" %}
                                    {% if attribute(entity,params.dataName) >= 1 %}
                                        <span class="glyphicon glyphicon-ok"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove"></span>
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td class="mw-table-action-col">
                            {#Edit#}
                            {#no ajax</a>#}

                            <a class="ajax edit-button"
                               data-url="{{ path('mweb_admin_delete_entity', {'id': entity.id,'entityAlias': entityAlias}) }}"
                               href="{{ path('mweb_admin_delete_entity', {'id': entity.id,'entityAlias': entityAlias}) }}"
                               title="Valider"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>

                            {% for lang in langs %}
                                <a class="edit-button edit-lang-style"
                                   href="{{ path('mweb_admin_edit_entity', { "_locale":lang, "entityAlias" : entityAlias, "id" : entity.id}) }}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="lang"> {{ lang }}</span>

                                </a>
                            {% endfor %}


                        </td>


                        {# {% if entity.statusTrans is defined %}
                             <td class="center">
                                 #}{#{% if entity.statusTrans == false %}
                                     <a class="status-trans" data-url="{{path('le_admin_entity_status_trans')}}" data-entity="{{entityName is defined ? entityName : app.request.get('_route_params').entity}}" data-id="{{entity.id}}" href="#" ><span class="status-circle desactive"></span></a>
                                     {% else %}
                                     <a class="status-trans" data-url="{{path('le_admin_entity_status_trans')}}" data-entity="{{entityName is defined ? entityName : app.request.get('_route_params').entity}}" data-id="{{entity.id}}" href="#" ><span class="status-circle active"></span></a>
                                     {% endif %}#}{#
                             </td>
                         {% endif %}#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}