{% trans_default_domain 'mweb' %}
<div class="modal ll-modal fade" id="modal-edit-entity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{ 'admin.edit.deleteElm'|trans }} </h4>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}  
                {% form_theme form 'MwebAdminBundle:Form:main-form-layout.html.twig' %}
                {{ form_errors(form) }}
                {{ form_widget(form.confirm) }}
                {{ form_label(form.confirm) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button class="save-form btn btn-primary">Confirmer</button>
            </div>
        </div>
    </div>
</div>
            