{% extends "MwebAdminBundle::layout.html.twig" %}

{%block pageH1 %}
    
{%endblock%}
{% block admin_container %}
    
    <div class="container">
        
        
        <form action="" method="post">

    <table class="mw-table border">
{#    1ERE LIGNE Titre/Auteur/plat/couvert        #}
        <tr>
            <td colspan="3">
                <h1>"{{ entity.name }}"</h1>
            </td>
        
        
            <td >
                <h4>Auteur de la fiche</h4>
                <p class="value">{{ entity.category }}</p>
            </td>
        
            <td>
                <h4>Type de plat</h4>
                <p class="value">{{ entity.category }}</p>
            </td>
        
            <td>
               <label for="nb-person">Nombre de couvert</label>
               <input id="nb-person" data-ref="{{ entity.nbPerson }}" type="number" class="form-control" value="{{ entity.nbPerson }}" />
            </td>
        </tr>
{#    2EME LIGNE Description / Tps de cuisson / Tps de préparation #}        
        <tr>
            <td colspan="4">
                <h4>Descriptif</h4>
                <div class="content value">
                    {{ entity.description }}
                </div>
            </td>
        
            <td>
                <label for="nb-person">Temps de préparation</label>
    {#            <input id="nb-person" type="number" class="form-control" value="{{ entity.preparationTime.datetime('H:m') }}" />#}
            </td>
            <td>
                <label for="nb-person">Temps de cuisson</label>
    {#            <input id="nb-person" type="number" class="form-control" value="{{ entity.preparationTime.datetime('H:m') }}" />#}
             </td>   
        </tr>
    
        <tr>
            <td colspan="7">
                <h4>Liste des ingrédients allergènes</h4>
                <div class="content value">
                    {% set nbAllergen = 0 %}
                    {% for productQ in entity.productQuantity %}
                        {% if productQ.product.isAllergen %}
                            {% if nbAllergen != 0 %}; {%endif%} {# point virgule après le 0#}
                            {{ productQ.product.name }}
                            {% set nbAllergen = nbAllergen + 1 %}
                        {% endif %}
                    {% endfor %}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <h4>Etapes</h4>
                <div class="content value">
                    {{ entity.productionStep }}
                </div>
            </td>
        
            <td colspan="3">
                
                {% set totalProducts = 0  %}
                {% set nbAllergen = 0 %}
                <table class="mw-table border stripped">
                    <thead>
                        <tr>
                            <th>Liste des ingrédients</th>
                            <th>Quantité</th>
                            <th>Prix unité</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for productQ in entity.productQuantity %}
                    <tr class="product-line">
                        <td>
                            {% if productQ.product.isAllergen %}
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                            {% endif %}
                            {{ productQ.product.name }}
                        </td>
                        <td>
                            <span class="quantity" data-ref="{{ productQ.quantity }}">{{ productQ.quantity }}</span>{{ productQ.product.unity }}
                        </td>
                        <td>
                            <span>{{ productQ.product.priceHt }}</span>
                        </td>
                        <td>
                            <span class="price" data-ref="{{ productQ.product.priceHt }}">{{ productQ.product.priceHt * productQ.quantity  }}€</span>
                        </td>
                    </tr>
                    {% set totalProducts = totalProducts + (productQ.product.priceHt * productQ.quantity)  %}
                {% endfor %}
                    <tr>
                        <td colspan="3" align="right">
                            <h4>Total ingrédients</h4>
                        </td>
                        <td align="right">
                            <span class="total-product-price">{{ totalProducts }}</span> 
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="right">
                            <h4>Assaisonements 2%</h4>
                        </td>
                        <td align="right">
                            <span class="total-product-spicy">{{ totalProducts*0.02 }}</span> €
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="right">
                            <h4>Coût total</h4>
                        </td>
                        <td align="right">
                            <span class="total-product-price">{{ totalProducts +  totalProducts*0.02 }}</span> €
                        </td>
                    </tr>
                    
                    </tbody>
                </table>
            
                    
            </td>
            
        {#<div class="form-group col-xs-3">
           {{ form_label(form.category) }}
           {{ form_widget(form.category, {"attr":{'class':'form-control'}} ) }}
        </div>
        
        <div class="form-group col-xs-4">
           {{ form_label(form.priceSellingHt) }}
           {{ form_widget(form.priceSellingHt, {"attr":{'class':'form-control'}} ) }}
        </div>
        
        <div class="form-group col-xs-4">
           {{ form_label(form.preparationTime) }}
           {{ form_widget(form.preparationTime ) }}
        </div>
        <div class="form-group col-xs-4">
           {{ form_label(form.cookingTime) }}
           {{ form_widget(form.cookingTime) }}
        </div>
        
        
        
        
        <div class="col-xs-12">
            {{ form_label(form.productQuantity) }}
            <ul id="email-fields-list" class="collection-list" data-prototype="{{ form_widget(form.productQuantity.vars.prototype) | e }}">
            {% for productQuantity in form.productQuantity %}
                <li>
                    {{ form_errors(productQuantity) }}
                    <div class="col-xs-6 form-group ">
                        {{ form_label(productQuantity.product) }}
                        {{ form_widget(productQuantity.product, {"attr":{'class':'form-control'}} ) }}
                    </div>
                    <div class="col-xs-6 form-group">
                        {{ form_label(productQuantity.quantity) }}
                        {{ form_widget(productQuantity.quantity, {"attr":{'class':'form-control'}} ) }}
                    </div>
                </li>
            {% endfor %}
            </ul>
            <a href="#" class="button collection-add">Ajouter un produit</a>
        </div>
    
        <div class="form-group col-xs-12">
           {{ form_label(form.description) }}
           {{ form_widget(form.description, {"attr":{'class':'form-control'}} ) }}
        </div>
        
        <div class="form-group col-xs-12">
           {{ form_label(form.materiels) }}
           {{ form_widget(form.materiels, {"attr":{'class':'form-control'}} ) }}
        </div>

        <div class="form-group col-xs-12">
           {{ form_label(form.materiels) }}
           {{ form_widget(form.productionStep, {"attr":{'class':'form-control'}} ) }}
        </div>
        
    
        {{ form_rest(form) }}
        
        #}
        
        <input type="submit" />
        </form>
    </div>
{% endblock %}