{% extends "form_div_layout.html.twig" %}



{# Affichage d'un groupe de champ ou d'un champ de son label et des erreurs#}
{% block form_row %}
    {% spaceless %}

        {# Class du champ #}
        {% set field_class='' %}
        {% if attr.field_class is defined %}
            {% set field_class = attr.field_class %}
        {% endif %}

        {# Class de la div qui entoure le champ #}
        {% set class='' %}
        {% if attr.class is defined %}
            {% set class = attr.class %}
        {% endif %}

        <div class="form-group">
            {{ form_label(form) }}
            {{ form_widget(form, {"attr":{'class': class ~ ' form-control'}} ) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}


{%- block time_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        {%- set vars = widget == 'text' ? { 'attr': { 'size': 1 , 'class' : 'form-cntrol col-xs-5'}} : {} -%}
        <div class="form-goup" {{ block('widget_container_attributes') }}>
            {{ form_widget(form.hour, vars) }}H
            {% if with_minutes %}:{{ form_widget(form.minute, vars) }}M{% endif %}
            {% if with_seconds %}:{{ form_widget(form.second, vars) }}S{% endif %}
        </div>
    {%- endif -%}
{%- endblock time_widget -%}

{% block vich_file_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_file_widget %}
    {% spaceless %}
        <div class="vich-file">
            {{ form_widget(form.file) }}
            {% if download_uri is defined and download_uri %}
                <img width="200" src="{{ asset(download_uri) }}" alt="" class="mweb-vich-illu"/>
            {% endif %}
            {% if form.delete is defined %}
                <br/>
                {{ form_widget(form.delete) }}
                <label for="{{ form.delete.vars.id }}">{{ "admin.edit.deleteImg"|trans({}, 'mweb') }}</label>

            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block vich_image_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_image_widget %}
    {% spaceless %}
        <div class="vich-image">
            {{ form_widget(form.file) }}
            {% if form.delete is defined %}
                {{ form_row(form.delete) }}
            {% endif %}

            {% if download_uri is defined and download_uri %}
                <a href="{{ download_uri }}"><img src="{{ download_uri }}" alt=""/></a>
            {% endif %}
            {% if show_download_link and download_uri is defined and download_uri %}
                <a href="{{ download_uri }}">{{ 'download'|trans({}, 'VichUploaderBundle') }}</a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}


{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, 'mweb') }}</label>
        {% set transHelp = label~"Help" %}

        {% if transHelp|trans({}, 'mweb') != transHelp %}
            <span class="mweb-edit-help-block"><span class="glyphicon glyphicon-info-sign"></span>{{ transHelp|trans({}, 'mweb') }}</span>
            {#<span class="glyphicon glyphicon-info-sign info-tooltip" data-toggle="tooltip" data-position="bottom"
                  title=""></span>#}
        {% endif %}


    {%- endif -%}
{%- endblock form_label -%}


{% block field_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}

            {% set lastError = null %}
            {% for error in errors %}
                {% if lastError != error %}
                    <p class="form-error"><span
                                class="glyphicon glyphicon-info-sign"></span> {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
                    </p>
                {% endif %}
                {% set lastError = error %}
            {% endfor %}

        {% endif %}
    {% endspaceless %}
{% endblock field_errors %}

{% block form_errors -%}
    {% if errors|length > 0 -%}

        {%- for error in errors -%}
            <p class="form-error"><span
                        class="glyphicon glyphicon-info-sign"></span> {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
            </p>
        {%- endfor -%}

    {%- endif %}
{%- endblock form_errors %}

{% block mw_gallery_row %}

    <div class="form-group">
        {{ form_label(form) }}

        {{ form_errors(form) }}

        {#Presence ou non des légendes dans la galerie#}
        {% if form.vars.attr.captionField is defined %}
            {% set captionFieldName =  form.vars.attr.captionField %}
            {% set  captionField =  form.parent.children[captionFieldName] %}
        {% endif %}
        {# store the prototype on the data-prototype attribute#}
        <ul class="mw-gallery-widget" data-lang="{{ app.request.locale }}" data-defaultlocale="{{ defaultLocale }}"
                {% if form.vars.attr.fileType == "image" %}
                    data-type="1"
                {% elseif form.vars.attr.fileType == "file" %}
                    data-type="2"
                {% elseif form.vars.attr.fileType == "video" %}
                    data-type="3"
                {% endif %}
            data-uploads-folder="/{{ getFileManagerFolder() }}"
            data-filemanager="{{ path('mweb_admin_tinymce_browser', {file : "dialog.php"}) }}"
            data-prototype="{{ form_widget(form.vars.prototype)|e }}"
                {% if captionField is defined %}
                    data-prototype-caption="{{ form_widget(captionField.vars.prototype)|e }}"
                {% endif %}
        >


            {% for k, galleryField in form %}
                <li class="mw-gallery-item col-xs-6 col-sm-3 col-lg-2">
                    <div class="mw-gallery-item-wrap">

                        {% if form.vars.attr.fileType == "image" %}
                            <div class="illu mw-gallery-item-row"
                                 style="background-image:url({{ asset(getFileManagerFolder()~galleryField.vars.value)|imagine_filter('mw_thumb') }})"></div>
                        {% elseif form.vars.attr.fileType == "file" %}
                            <div class="file mw-gallery-item-row">
                                <span class="glyphicon glyphicon-file"></span>
                                <span class="text">{{ galleryField.vars.value }}</span>
                            </div>
                        {% elseif form.vars.attr.fileType == "video" %}
                            <div class="video mw-gallery-item-row">
                                <span class="text">TO DO</span>
                            </div>
                        {% endif %}

                        {{ form_errors(galleryField) }}
                        {{ form_row(galleryField) }}

                        {% if captionField is defined and captionField[k] is defined %}
                            {{ form_errors(captionField[k]) }}
                            {{ form_widget(captionField[k]) }}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
            <li class="mw-gallery-item-add col-xs-6 col-sm-3 col-lg-2">
                <div class="mw-gallery-item-wrap">
                    <button type="button" class="mw-gallery-add">
                        <span class="glyphicon glyphicon-plus"></span><br />
                        <span class="text">{{ "admin.gallery.add"|trans({}, 'mweb') }}</span>
                    </button>
                </div>
            </li>
            <li class="clear"></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    {% if captionField is defined %}
        {% do captionField.setRendered %}
    {% endif %}
{% endblock %}


{% block mw_file_row %}

    <div class="form-group">
        {{ form_label(form) }}
        {#Presence ou non d'une légende#}
        {% if form.vars.attr.captionField is defined %}
            {% set captionFieldName =  form.vars.attr.captionField %}
            {% set captionField =  form.parent.children[captionFieldName] %}
        {% endif %}

        {# store the prototype on the data-prototype attribute#}{#
        <ul id="mw-gallery-list" data-lang="{{ app.request.locale }}" data-defaultlocale="{{ defaultLocale }}"

            data-uploads-folder="/{{ getFileManagerFolder() }}"
            data-filemanager="{{ path('mweb_admin_tinymce_browser', {file : "dialog.php"}) }}"
            data-prototype="{{ form_widget(form.vars.prototype)|e }}"
                {% if captionField is defined %}
                    data-prototype-caption="{{ form_widget(captionField.vars.prototype)|e }}"
                {% endif %}
        >#}
        <div class="clear"></div>
        <div class="mw-file-widget col-xs-6 col-sm-3 col-lg-2"
             data-uploads-folder="/{{ getFileManagerFolder() }}"
             data-filemanager="{{ path('mweb_admin_tinymce_browser', {file : "dialog.php"}) }}"
             data-lang="{{ app.request.locale }}"
             data-defaultlocale="{{ defaultLocale }}"

            {% if form.vars.attr.fileType == "image" %}
                data-type="1"
            {% elseif form.vars.attr.fileType == "file" %}
                data-type="2"
            {% elseif form.vars.attr.fileType == "video" %}
                data-type="3"
            {% endif %}>


            <div class="mw-file-item">

                {% if form.vars.attr.fileType == "image" %}
                    <div class="illu mw-file-item-row"
                         style="background-image:url({{ asset(getFileManagerFolder()~form.vars.value)|imagine_filter('mw_thumb') }})"></div>
                {% elseif form.vars.attr.fileType == "file" and form.vars.value is not empty %}
                    <div class="file mw-file-item-row">
                        <span class="glyphicon glyphicon-file"></span>
                        <span class="text">{{ form.vars.value }}</span>
                    </div>
                {% elseif form.vars.attr.fileType == "video" %}
                    <div class="video mw-file-item-row">
                        <span class="text">TO DO</span>
                    </div>
                {% endif %}


                {{ form_widget(form) }}

                {% if captionField is defined %}
                    {{ form_widget(captionField) }}
                {% endif %}
            </div>
            <div class="mw-file-add">

                <button type="button" id="mw-gallery-add">
                    <span class="glyphicon glyphicon-plus"></span><br />
                    <span class="text">{{ "admin.gallery.add"|trans({}, 'mweb') }}</span>
                </button>

            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    {#{% do captionField.setRendered %}#}
{% endblock %}